<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ "/" | relative_url }}">
            Gabriel Pham
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link {% if page.url == '/about/' or page.url == '/about' %}active{% endif %}" href="{{ "/about" | relative_url }}">About</a></li>
                <li class="nav-item"><a class="nav-link {% if page.url == '/projects/' or page.url == '/projects' %}active{% endif %}" href="{{ "/projects" | relative_url }}">Projects</a></li>
                <li class="nav-item"><a class="nav-link {% if page.url == '/contact/' or page.url == '/contact' %}active{% endif %}" href="{{ "/contact" | relative_url }}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
